.vs
/3.csapt_projekt/3.csapt_projekt/obj/Debug/3.csapt_projekt_MarkupCompile.lref
/3.csapt_projekt/3.csapt_projekt/obj/Debug/3.csapt_projekt_MarkupCompile.cache
/3.csapt_projekt/3.csapt_projekt/obj/Debug/3.csapt_projekt.csproj.AssemblyReference.cache
